/* for navbar */

nav.navbar {
  min-height: 70px;
}

/* for carousel */

#carouselExampleCaptions {
  padding-top: 70px !important;
  height: 80vh;
  overflow: hidden;
}

#carouselExampleCaptions img {
  max-height: 80vh;
  min-height: 80vh;
  object-fit: cover;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.carousel-caption {
  bottom: 20% !important;
}

/* for section */

section {
  padding-top: 80px;
}
